.shopping-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", "Google Sans", sans-serif;
  padding: 2rem;
  background-color: white;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  color: #202124;
  font-weight: 400;
  margin-bottom: 2rem;
  font-size: 2rem;
}

h4 {
  text-align: center;
  color: #242526;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.shopping-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin: auto 0;
  width: 100%;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.shopping-list-container {
  min-width: 350px;
  max-width: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  padding: 1rem;
  height: 400px;
  overflow-y: auto;
}

.additem-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  padding: 1rem;
  height: 250px;
}

.delete-button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
}
