.shopping-container {
  padding: 20px;
  font-family: inherit;
}

h1,
h4 {
  text-align: center;
}

.shopping-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.shopping-list-container {
  min-width: 300px;
  min-height: 200px;
}

.additem-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.additem-container input {
  padding: 5px;
  margin-bottom: 10px;
}
